.menu {
  position: absolute;
  top: 8px;
  right: 0;
  
  li {
    display: inline;
    margin-right: 5px;
  }
}

  .menu__button {
    background: transparent;
    border: 0;
    cursor: pointer;
  }
