.notation {
  width: 100%;
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
}

  .notation__signature {
    flex: 1;
  }

  .notation__note {
    flex: 1;
  }

    .notation__interval {
      color: $grey-dark;
      padding: 20px 0 10px;
    }

    .notation__name {
      padding: 20px 0 10px;
    }