.piano {
  display: block;
}

  .piano__key {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 240px;
    border: 1px solid #000;
    background-color: #fff;
    vertical-align: top;
    margin-right: -1px;
    border-radius: 0 0 5px 5px;
    border-top: 2px solid #000;
  }

  .piano__key--black {
    display: inline-block;
    background-color: #000;
    width: 38px;
    height: 150px;
    margin-left: -19px;
    margin-right: -19px;
    z-index: 1;
    position: relative;
  }

  .piano__key--scale {
    background: $grey;
  }

  .piano__key--chord {
    background: $grey;
  }

  .piano__key--root {
    background-color: $color-highlight;
  }

  .piano__key--fifth {
    background-color: $grey-dark;
  }

    .piano__key-name {
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 10px;
      
      .piano__key:disabled & {
        display: none;
      }
    }