.page {
    width: 800px;
    margin: 0 auto;
}

.header {
    font-size: 24px;
    padding: 10px;
    text-align: center;
}

.scale-nav {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    width: 100%;
}

    .scale-nav li {
        display: block;
        flex: 1;
    }

            .scale-nav a {
                display: block;
                width: 40px;
                height: 40px;
                color: #000;
                font-size: 18px;
                text-decoration: none;
                line-height: 40px;
                text-align: center;
                margin: 0 auto;   
            }
            
            .scale-nav a.is--current {
                background: yellow;
                min-width: 60px;
                font-size: 24px;
            }

.instrument {
    display: flex;
}

.piano {
    display:block;
    margin: 0 auto;
}
    
    .piano__key {
    display: inline-block;
    width: 20px;
    height: 100px;
    border: 1px solid #000;
    background-color: #fff;
    vertical-align: top;
    margin-right: 1px;
    }
    
    .piano__key--accidental {
    display: inline-block;
    background-color: #000;
    height: 67px;
    margin-left: -9px;
    margin-right: -9px;
    z-index: 1;
    position: relative;
    }
    
    .piano__key--scale {
    background-color: yellow;
    }
    
    .piano__key--root {
    background-color: orange;
    }

.notation-table {
    width: 100%;
    display:flex;
}

    .notation-table__col {
        flex: 1;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .notation-table__row {
        flex: 1;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

.notation-staff {
    display: block;
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    margin: 0 auto;
}