$light-grey: #F1F1F1;
$grey: #E6E7E8;
$dark-grey: rgba(0,0,0, 0.25);
$font-lrg: 36px;
$font-med: 24px;
$font-sm: 18px;
$yellow: rgba(255, 255, 0, 0.75);
$orange: rgba(255, 155, 0, 0.75);
$light-yellow: rgba(255, 255, 0, .25);



